body{
    margin: 0;
    font-family: Bahnschrift;
    background-color:#F2F4FF;

} 
#frm{ 
    border: solid gray 1px;  
    width:25%;  
    border-radius: 2px;  
    margin: 120px auto;  
    background: #A9D3FF;  
    padding: 50px;  
}  