table{
    border: 2px solid black;
    border-collapse: collapse;
    /*border-style: solid;*/
    /*position: absolute;*/
    text-align: center;
    background-color: #96C5F7;
    width: 80%;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
}
.ime{
    text-align: left;
    padding-left: 15px;
}

th,td,tr{
    padding-top:15px;
    padding-bottom: 15px;
    border: 1px solid black;
}

th{
    font-size: 20px;
}